@charset "UTF-8";
/* CSS Document */

section#contenidos {
	height: 832px;
}

#boxAcordeon {
	width: 582px;
	height: 558px;
	background-color: tomato;
	position: absolute;
	top: 149px;
	left: 12px;
}
#boxTabs {
	width: 480px;
	height: 553px;
	background-color: tomato;
	position: absolute;
	top: 149px;
	left: 714px;
	
}