@charset "UTF-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	border: 0;
}

nav{
	width: 100%;
	height: 70px;
	background-color: #A1C133;
}

header{
	width: 100%;
	height: 600px;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

section#promo {
	width: 100%;
	height: 400px;
	background-image: url(../img/bg_bienvenida.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  center bottom;
}

section#contenidos {
	width: 100%;
	height: 600px;
	background-image: url(../img/fondoEspecialidades.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

section#mapa {
	width: 100%;
	height: 420px;
	background-color: white
}

footer {
	width: 100%;
	height: 200px;
	background-color: #A1C133;
}

#centrar_nav,#centrar_header,#centrar_promo,#centrar_footer,#centrar_mapa,#centrar_contenidos{
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: rgba(0,65,86,0.42);
}

#centrar_nav img{
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 30px;
}

#menu {
	list-style: none;
	padding-top: 20px;
}

#menu li {
	float: left;
	margin-left: 30px;
	
}

#menu a {
	font-size: 20px;
	font-weight: 100;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #262626;
	text-decoration: none;
	letter-spacing: 2px;
}

#menu a:hover{
	color: #ffffff;
}

#sociales {
	float: right;
	list-style: none;
	margin-top: 6px;
}

#sociales li {
	float: left;
	margin-right: 15px;
}

#facebook {
	width: 10.74px;
	height: 20.56px;
	background-image: url(../iconos/Facebookwhite.svg);
	
}

#facebook:hover {
	background-image: url(../iconos/Facebookorange.svg);
	
}

#twitter {
	width: 22.56px;
	height: 18.3px;
	background-image: url(../iconos/twwhite.svg);
}

#twitter:hover{
	background-image: url(../iconos/tworange.svg);
}

#instagram {
	width: 20.56px;
	height: 20.56px;
	background-image: url(../iconos/igwhite.svg);
}

#instagram:hover{
	background-image: url(../iconos/igorange.svg);
}

#txtPromo {
	position: absolute;
	width: 613px;
	height: 224px;
	margin-top: 88px;
	
	
}

#txtPromo h2{
	color: #A1C133;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 40px;
	font-weight: 100;
	text-align: right;
}

#txtPromo h3{
	color: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 25px;
	font-weight: 100;
	text-align: right;
}
