@charset "UTF-8";
/* CSS Document */

section#contenidos {
	height: 931px;
}

div#descripcion {
	width: 324;
	height: 180px;
	position: absolute;
	top: 232px;
	left: 102px;
}

div#miniaturas {
	width: 581px;
	height: 285px;
	position: absolute;
	top: 570px;
	left: 0px;
	margin-left: 40px;
	padding-right: 40px;	
}

div#fotoBig {
	width: 174px;
	height: 133px;
	position: absolute;
	top: 148px;
	left: 612px;
}

.descripcion_galeria {
	font-size: 40px;
	color: #D0E542;
	font-family: "Georgia", Helvetica, Arial, "sans-serif";
	font-weight: 100;
}
.descripcion_contenido {
	font-size: 16px;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 100;
	margin-top: 30px;
	letter-spacing: 1px;
	line-height: 20px;
}

